.header {
  background-color: #111111;
  margin: 0;
  color: #e6e3e3;
}
.btn {
  width: 140px;
  height: 35px;
}
.transparent {
  background-color: transparent;
  color: #e6e3e3;
  border: 1px solid #e6e3e3;
}
.logo {
  font-size: 32px;
  text-align: left;
  font-weight: bolder;
  padding: 15px 100px 0px;
  margin: inherit;
}
.header-text {
  display: flex;
  flex-direction: row;
  font-weight: lighter;
  padding-left: 100px;
  padding-bottom: 60px;
  height: 393px;
}
.header-text div {
  width: 50%;
}
.header-text h2 {
  font-size: 45px;
  font-weight: lighter;
}
.header-text p {
  font-size: 20px;
}

.img-header {
  background-image: url("https://www.nicepng.com/png/full/124-1248440_platos-de-comida-png-lomo-saltado-en-png.png");
  background-position: 192px -166px;
  background-repeat: no-repeat;
  background-size: 175%;
}

.footer {
  background-color: #111111;
  color: #e6e3e3;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.text-footer-container {
  display: flex;
  font-size: 14px;
}
.text-footer {
  padding: 0 100px;
}
.place {
  height: 100px;
  background-color: #e6e3e3;
}
